/* 전체 footer 컨테이너 */
.footer-container {
  width: 100%;              /* 화면 가득 차도록 */
  max-width: 1600px;        /* 헤더와 동일 최대 폭 */
  margin: 0 auto;           /* 중앙 정렬 */
  padding: 0;         /* 헤더와 동일한 좌우 패딩 */
  box-sizing: border-box;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 내부 wrapper */
.footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* 푸터 로고 + 텍스트 영역 */
.footer-inner {
  width: 98%;
  display: flex;
  justify-content: space-between; /* 로고와 텍스트 간격 */
  align-items: center;
  flex-wrap: wrap;               /* 화면이 좁아지면 줄 바꿈 */
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
}

/* 로고 */
.footer-logo {
  font-family: 'Baloo_Chettan-Regular', Helvetica;
  font-size: 32px;
  color: #008db4;
  line-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 텍스트 공통 */
.footer-text {
  font-family: 'Source_Code_Pro-Regular', Helvetica;
  font-size: 15px;
  line-height: 19.5px;
  text-align: center;
}

/* 구분선 */
.footer-line {
  width: 90%;
  height: 5px;
  background-color: #C9C9C9;
  margin: 10px 0 0 0;
}


.footer-logo-img {
  width: 120px;   /* 원하는 크기로 조절 */
  height: auto;   /* 세로 비율 유지 */
  display: block;
  margin: 0 auto; /* 가운데 정렬 */
}